<div
  class="papersBack py-12"
  data-desktop=""
  style="
    background-image: url(assets/img/capsule-corp2.jpg);
    visibility: inherit;
    opacity: 1;
  "
>
  <div class="font-serif max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="card lg:text-center justify-center item-center">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">Contact</h1>
    </div>

    <div class="md:grid md:grid-cols-2 mt-8">
      <div
        class="mt-8 py-8 px-8 max-w-sm mx-auto bg-white bg-opacity-80 rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6"
      >
        <img
          class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0"
          src="assets/img/astro.png"
          alt="Coéquipier"
        />
        <div class="text-center space-y-2 sm:text-left">
          <div class="space-y-0.5">
            <p class="text-center space-y-2 sm:text-left"></p>
            <p class="text-lg text-black font-semibold">Coéquipier</p>
            <p class="text-gray-500 font-medium">Ingénieur et rédacteur</p>
          </div>
          <button
            class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
          >
            Message
          </button>
        </div>
      </div>

      <div
        class="mt-8 py-8 px-8 max-w-sm mx-auto bg-white bg-opacity-80 rounded xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6"
      >
        <img
          class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0"
          src="assets/img/astro.png"
          alt="Coéquipier"
        />
        <div class="text-center space-y-2 sm:text-left">
          <div class="space-y-0.5">
            <p class="text-lg text-black font-semibold">Coéquipier</p>
            <p class="text-gray-500 font-medium">Ingénieur et rédacteur</p>
          </div>
          <button
            class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
          >
            Message
          </button>
        </div>
      </div>

      <div
        class="mt-8 py-8 px-8 max-w-sm mx-auto bg-white bg-opacity-80 rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6"
      >
        <img
          class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0"
          src="assets/img/astro.png"
          alt="Mouhsine"
        />
        <div class="text-center space-y-2 sm:text-left">
          <div class="space-y-0-5">
            <p class="text-lg text-black font-semibold">Mouhsine Melouk</p>
            <p class="text-gray-500 font-medium">Ingénieur et rédacteur</p>
          </div>
          <button
            class="px-4 py-1 text-sm text-puprle-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
          >
            Message
          </button>
        </div>
      </div>
    </div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
    />

    <div
      class="container bg-opacity-80 mx-auto my-20 w-1/3 border-2 rounded-lg border-amber-500 bg-#D6D3D1 bg-slate-900"
    >
      <div class="lg:p-5 lg:space-y-5 lg:shadow-xl">
        <h4 class="lg:text-center lg:text-3xl">
          Contactez la capsule corp. d'Elon Mars <br />
          <br />
          (｡◝‿◜｡)
          <br />
        </h4>

        <form>
          <div class="grid grid-cols-2 gap-5">
            <input
              type="text"
              class="border rounded-lg border-gray-500 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500"
              placeholder="First Name"
            />
            <input
              type="text"
              class="border rounded-lg border-gray-500 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500"
              placeholder="Last Name"
            />
            <input
              type="email"
              class="border rounded-lg border-gray-500 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500 col-span-2"
              placeholder="Ton mail va aller direct sur Namek"
            />
            <input
              type="tel"
              class="border rounded-lg border-gray-500 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500 col-span-2"
              placeholder="telephone arabe"
            />
            <textarea
              cols="10"
              rows="5"
              class="border rounded-lg border-gray-500 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500 col-span-2"
              placeholder="from Mars : one two three viva l'Algérie"
            ></textarea>
          </div>
          <input
            type="submit"
            value="Envoie du message"
            class="focus:outline-none mt-5 bg-amber-600 px-4 py-2 font-bold w-full"
          />
        </form>
      </div>
    </div>
    <div
      class="max-w-full mx-auto p-8 bg-opacity-80 rounded-xl shadow-2xl p-6 font-serif grid gap-4 grid-cols-2 bg-slate-900 background-color: rgb(107 114 128); border-x-2 border-amber-500 bg-#D6D3D1 text-gray-50 color: rgb(249 250 251)"
    >
      <div>
        <p class="md:text-2xl">À propos</p>
        <br />
        <br />
        <br />
        Le site a été créé fin 2020 afin de présenter des galeries photos de la
        planète Mars depuis la Nasa. <br />
        Plus qu'un site, nous sommes surtout des passionés d'astronomie qui
        aimons partager et échanger avec la communauté et les amateurs des
        oeuvres d'Elon Musk. Retrouvez nous sur notre Forum Elon Mars, ou sur
        Facebook, Twitter, et Instagram
      </div>
      <p class="md:text-2xl">
        Tweet
        <img
          class="mt-8 object-contain md:object-scale-down"
          src="assets\img\twitter.png"
        />
      </p>
    </div>
    <div class="mt-8 min-h-screen-minus-t justify-center items-center">
      <img
        class="object-contain md:object-scale-down"
        src="assets/img/LooEM.png"
      />
    </div>
  </div>
</div>
