<div
  class="papersBack py-12"
  data-desktop=""
  style="
    background-image: url(assets/img/capsule-corp2.jpg);
    visibility: inherit;
    opacity: 1;
  "
>
  <div class="font-serif max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="card lg:text-center justify-center item-center">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">Contact</h1>
    </div>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
    />

    <div
      class="container mt-8 bg-opacity-80 mx-auto my-20 max-w-sm border-2 rounded-lg border-amber-500 bg-#D6D3D1 bg-slate-900"
    >
      <div class="lg:p-5 lg:space-y-5 lg:shadow-xl">
        <h4 class="lg:text-center lg:text-3xl text-center my-5">
          Contactez la capsule corp. d'Elon-Mars <br />
          <br />
          <img
            class="block mx-auto rounded-full"
            src="assets/img/bulmacorp.jpg"
            alt="Sowavyy"
          />
          <br />
        </h4>

        <form>
          <div class="grid grid-cols-2 gap-5">
            <input
              type="text"
              class="border rounded-lg border-gray-500 text-gray-700 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500 col-span-2"
              placeholder="Name"
            />

            <input
              type="email"
              class="border rounded-lg border-gray-500 text-gray-700 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500 col-span-2"
              placeholder="E-mail"
            />
            <textarea
              cols="10"
              rows="5"
              class="border rounded-lg border-gray-500 text-gray-700 px-4 py-2 bg-#E8F0FE focus:outline-none focus:border-purple-500 col-span-2"
              placeholder="Type your message here..."
            ></textarea>
          </div>
          <input
            type="submit"
            value="Envoie du message"
            class="focus:outline-none mt-5 bg-amber-600 px-4 py-2 font-bold w-full"
          />
        </form>
      </div>
    </div>
    <div
      class="max-w-full mx-auto p-8 bg-opacity-80 rounded-xl shadow-2xl font-serif gap-4 grid-cols-2 bg-slate-900 background-color: rgb(107 114 128); border-x-2 border-amber-500 bg-#D6D3D1 text-gray-50 color: rgb(249 250 251)"
    >
      <div>
        <p class="md:text-2xl">À propos</p>
        <br />
        <br />
        <br />
        <p class="md:text-center">
          Le site a été créé afin de présenter des galeries photos de la planète
          Mars depuis la Nasa.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
