<div class="w-full min-h-screen-minus-t wallpaper bg-mars py-8">
  <div class="flex-cc mb-8">
    <div
      class="w-full sm:w-3/4 md:w-2/4 lg:w-2/5 xl:w-2/6 p-8 bg-amber-500 bg-opacity-5 rounded-xl shadow-2xl"
    >
      <mat-calendar
        class="bg-amber-50 rounded-xl"
        [(selected)]="selectedDate"
        startView="month"
        (selectedChange)="fetchPhotosPerPage()"
        [maxDate]="today"
      ></mat-calendar>
    </div>
  </div>
  <app-thumbnail-view [photos]="photos"></app-thumbnail-view>
</div>
