<div class="papersBack bg-mars">
  <div class="flex min-h-screen-minus-t justify-center items-center">
    <img src="assets/img/LooEM.png" />
  </div>
  <div class="container mt-8">
    <div class="container card3 lg:text-center justify-center item-center">
      <h1
        class="container2 text text-5xl | uppercase | font-weight: bold; font-size: 12px;"
      >
        Bienvenue sur Mars !
      </h1>
    </div>
  </div>
  <!----------------------------- GALLERIE------------------------------------->
  <div class="container">
    <div class="card4">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
        Home sweet Mars !
      </h1>
      <h6>
        Vous etes passionés par l'espace ?
        <p>
          Mars représente une aventure humaine exceptionnelle dans laquelle se
          mêlent sciences, techniques, exploration ainsi que de nombreux défis
          et découvertes à venir.
        </p>
        <br />
        <div class="card3">
          <p>
            Distance au Soleil : de 207 millions de km (Périhélie) à 250
            millions de km (Aphélie)
          </p>
          <p>Distance à la Terre: de 56 à 400 millions de km</p>
          <p>Caractéristique : planète la plus étudiée après la Terre</p>
          <p>Observation : visible à l'œil nu, couleur rouge</p>
          <p>1 jour martien : Un peu plus d'un jour terrestre (24h 39 mn)</p>
          <p>1 année martienne : 687 jours terrestres</p>
          <p>
            Robots actifs au sol : Curiosity (M.S.L), Perseverance (Mars 2020)
          </p>
        </div>
        <div class="mt-8">
          <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
            Présentation de Mars
          </h1>
          <br />
          <p>
            Mars possède un grand nombre de points communs avec la Terre. Elle
            est à peu près deux fois plus petite que notre planète, et possède
            une atmosphère très fine. Comme la Terre, il existe des saisons, et
            un jour martien dure un peu plus de 24 heures.
          </p>
          <br />
          <p>
            Cependant, Mars est une planète où il fait très froid : sa
            température en surface ne dépasse jamais 0 °C, et il y fait en
            moyenne -53 °C. Une année martienne (rotation complète autour du
            Soleil) dure environ 687 jours.
          </p>
          <br />
          <p>
            Deux petits satellites sont en orbite autour de Mars : Phobos et
            Déimos, probablement deux anciens astéroïdes capturés par
            l'attraction martienne.
          </p>
        </div>
      </h6>
      <div class="card mt-8">
        <div>
          <img src="assets/img/1getoffmars.jpeg" alt="pic" />
          <p class="text-center text-white mt-8 | uppercase">
            Welcome to Mars, your new home is now here!
          </p>
        </div>
        <br />
      </div>
    </div>
  </div>

  <!----------------------------- SECTION NASA ------------------------------------->
  <div class="container">
    <div class="container2 card aspect-w-16 aspect-h-9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/XRCIzZHpFtY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!----------------------------- GALLERIE------------------------------------->
  <div class="container">
    <div class="card4">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
        Mars Science Laboratory (MSL)
      </h1>
      <div class="card3">
        <br />
        <p>
          Le 5 août 2012, les équipes de la NASA ont réalisé un exploit sans
          précédent : ils ont réussi à faire atterrir en douceur le plus grand
          et le plus sophistiqué des robots ! Cette réussite est le fruit de dix
          ans de recherches et d'expérimentations en tous genres.
        </p>
        <br />
        <p>
          En repoussant les limites de la technologie, les scientifiques ont
          gagné un pari fou : envoyer sur mars un laboratoire scientifique
          complet. Le rover nommé Curiosity va tenter de répondre à des
          questions qui taraudent depuis bien longtemps les chercheurs :
          existe-t-il ou a-t-il existé une quelconque forme de vie sur la
          planète rouge ? En d'autres termes, sommes-nous seuls dans l'univers ?
        </p>
        <br />
        <p>
          Le robot Curiosity est une merveille technologique, bardée
          d'instruments scientifiques uniques en leur genre. Alimenté par une
          batterie nucléaire et équipé pour communiquer en permanence avec la
          Terre, c'est une machine parfaite pour affronter l'hostilité de la
          planète rouge.
        </p>
        <br />
        <p>
          Ce que l'on recherche avant tout sur Mars, ce sont les trois éléments
          de base permettant à la vie d'émerger : l'eau, la chaleur et des
          composés organiques. Curiosity doit nous indiquer si ces éléments ont
          déjà été présents sur Mars, en analysant le sol et la roche.
        </p>
        <br />
        <p>
          Curiosity est équipé de 15 fois plus de matériel scientifique que les
          autres robots envoyés sur Mars, et il devrait largement participer à
          l'amélioration des connaissances que l'on a sur la planète rouge.
          Contrairement aux autres robots plutôt légers, Curiosity pèse presque
          une tonne, ce qui explique que l'on n'a pas pu le faire atterrir avec
          des airbags, la charge étant bien trop lourde et coûteuse.
        </p>
        <br />
        <p>
          Le 7 juin 2018, la NASA a annoncé que Curiosity avait trouvé, à l'aide
          de SAM (Sample Analysis at Mars), des molécules organiques à la
          surface de Mars. Même si cette annonce ne prouve pas que de la vie ait
          jadis existé sur Mars, elle met en lumière le fait que la planète
          rouge possède les mêmes composés qui ont fait émerger la vie sur
          Terre, à savoir le méthane présent dans l'atmosphère et les molécules
          organiques.
        </p>
      </div>
    </div>
  </div>
  <!----------------------------- SECTION NASA ------------------------------------->
  <div class="container">
    <div class="container2 card aspect-w-16 aspect-h-9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/P4boyXQuUIw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <!----------------------------- GALLERIE------------------------------------->
  <div class="container">
    <div class="card4">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">MAVEN</h1>
      <div class="card3">
        <br />
        <p>
          Arrivée en orbite basse autour de Mars le 21 septembre 2014, cette
          mission pilotée par la NASA a pour objectif d'étudier les raisons de
          la disparition de l'atmosphère martienne. Cet orbiteur servira
          également de relais de transmission pour les rovers qui arpentent
          actuellement la surface de Mars.
        </p>
      </div>

      <h1 class="text-2xl md:uppercase font-semibold tracking-wide mt-8">
        Mars Orbiter Mission (MOM)
      </h1>
      <div class="card3">
        <br />
        <p>
          Mangalyaan ("vaisseau martien" en langue indienne) est un orbiteur
          envoyé avec succès autour de Mars par l'agence spatiale indienne. La
          sonde a été placée en orbite autour de la planète rouge le 24
          septembre 2014.
        </p>
        <br />
        <p>
          La mission de la sonde est d'étudier l'échappement de l'atmosphère
          martienne, mais également de rechercher des traces d'eau à la surface
          de la planète.
        </p>
        <br />
        <p>
          En plus de la prouesse technologique, cette mission représente
          également un incroyable défi financier, car elle a coûté seulement 75
          millions d'euros, ce qui représente une somme dérisoire en comparaison
          des projets similaires de la NASA.
        </p>
      </div>

      <h1 class="text-2xl md:uppercase font-semibold tracking-wide mt-8">
        Mars 2020 - Rover Perseverance
      </h1>
      <div class="card3">
        <br />
        <p>
          L'objectif de la mission Mars 2020 est de rechercher des traces de vie
          anciennes et de récolter des fragments de roches martiennes afin de
          les ramener sur terre.
        </p>
        <br />
        <p>
          Le rover a été lancé le 30 juillet 2020 et s'est posé sur Mars le 18
          février 2021 sans encombre, dans le cratère martien Jezero.
        </p>
        <br />
        <p>
          Le 22 février 2021, la Nasa a offert au monde entier une spectaculaire
          vidéo de l'atterrissage du rover sur Mars, en haute définition. Nous
          sommes devenus ainsi les premiers humains à pouvoir regarder une vidéo
          d'une telle résolution pour découvrir un autre monde. C'est historique
          !
        </p>
        <br />
        <p>
          La technologie embarquée dans le rover et son atterrisseur est sans
          précédent : l'intelligence artificielle a été capable de décider
          d'elle-même si l'atterrissage du rover se faisait sur un sol
          débarrassé d'obstacles, afin de s'assurer d'une sécurité optimale.
        </p>
      </div>
    </div>
  </div>

  <!----------------------------- SECTION NASA ------------------------------------->
  <div class="container">
    <div class="container2 card aspect-w-16 aspect-h-9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/4czjS9h4Fpg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <!----------------------------- GALLERIE------------------------------------->
  <div class="container">
    <div class="card4">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
        Conclusion
      </h1>
      <div class="card3">
        <br />
        <p>
          La conquête de Mars est plus que jamais la prochaine grande aventure
          de la civilisation humaine. Il ne fait aucun doute que bientôt des
          hommes fouleront le sol de la planète rouge afin d'étudier sur place
          sa géologie, et peut-être même pour y développer des énergies
          nouvelles.
        </p>
        <br />
        <p>
          Un jour peut-être, lorsque les défis technologiques auront été
          relevés, l'homme sera en mesure de s'installer durablement sur la
          planète rouge et pourra continuer sa soif de connaissance en allant
          explorer d'autres mondes...
        </p>
      </div>
    </div>
  </div>
  <!----------------------------- GALLERIE------------------------------------->
  <div class="container">
    <div class="card4">
      <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
        Notre sélection d'image de Mars !
      </h1>
      <div class="card3">
        <br />
        <p>Chaque jour, nous recevons de nouvelles images provenant de mars.</p>
        <p>
          Parmi nos images favorites, nous avons décidé de vous les partager en
          les mettant en avant !
        </p>
      </div>
    </div>
  </div>
  <!----------------------------- ACCUEIL DU JOUR------------------------------------->

  <div class="container2">
    <div class="card">
      <div class="col-start-1 col-span-1">
        <div class="w-full">
          <div class="relative w-full h-96">
            <iframe
              class="absolute left-0 top-0"
              width="100%"
              height="100%"
              allowfullscreen=""
              frameBorder="0"
              src="https://giphy.com/embed/GpCzsRgqzNdZbf9011/video"
            ></iframe>
          </div>
          <a
            class="inline-block clear-both relative h-9 leading-5 my-3 pl-11"
            rel="noopener noreferrer"
            target="_blank"
            ><img
              class="absolute left-0 top-0 h-9 w-9"
              alt=""
              src="https://media0.giphy.com/avatars/nasa/qdYbkaOy9oHJ/80h.jpg"
            />
            <div class="font-bold text-base">Elon Mars</div>
            <div class="font-normal text-sm">@Elon Mars</div>
          </a>
          <p class="mt-2">
            <strong>Perseverance Rover's Descent and Touchdown on Mars</strong
            ><br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- GALLERIE------------------------------------->
  <div class="container">
    <div class="container2 card4">
      <div class="grid gap-x-8 gap-y-8 grid-cols-4 columns-auto">
        <div>
          <div class="w-full">
            <div class="relative w-full h-96">
              <iframe
                allowfullscreen=""
                frameBorder="0"
                height="100%"
                src="https://giphy.com/embed/dISaHAWobuGiEKvStR/video"
                class="absolute left-0 top-0"
                width="100%"
              ></iframe>
            </div>
            <a
              class="clear-both relative inline-block h-9 leading-5 my-3 pl-11"
              rel="noopener noreferrer"
              target="_blank"
              ><img
                class="absolute left-0 top-0 h-9 w-9"
                alt=""
                src="https://media3.giphy.com/avatars/nasa/qdYbkaOy9oHJ/80h.jpg"
              />
              <div class="font-bold text-base">Elon Mars</div>
              <div class="font-normal text-sm">@Elon Mars</div>
            </a>
            <p class="mt-2"><strong>Mars Voyage</strong><br /></p>
          </div>
        </div>

        <div>
          <div class="w-full">
            <div class="relative w-full h-96">
              <iframe
                class="absolute left-0 top-0"
                width="100%"
                height="100%"
                frameBorder="0"
                allowfullscreen=""
                src="https://giphy.com/embed/gBnT2zrofZ0OyN10DC/video"
              ></iframe>
            </div>
            <a
              class="relative inline-block clear-both h-9 leading-5 my-3 pl-11"
              rel="noopener noreferrer"
              target="_blank"
              ><img
                class="absolute top-0 left-0 h-9 w-9"
                alt=""
                src="https://media.giphy.com/avatars/nasa/qdYbkaOy9oHJ/80h.jpg"
              />
              <div class="font-bold text-base">Elon Mars</div>
              <div class="font-normal text-sm">@Elon Mars</div>
            </a>
            <p class="mt-2">
              <strong>Perseverance Rover's Descent on Mars</strong><br />
            </p>
          </div>
        </div>

        <div>
          <div class="w-full">
            <div class="w-full relative h-96">
              <iframe
                class="absolute top-0 left-0"
                width="100%"
                height="100%"
                allowfullscreen=""
                frameBorder="0"
                src="https://giphy.com/embed/ImAEnFasY9a6IxDb1G/video"
              ></iframe>
            </div>
            <a
              rel="noopener noreferrer"
              class="relative inline-block clear-both h-9 leading-5 my-3 pl-11"
              target="_blank"
              ><img
                class="absolute left-0 top-0 h-9 w-9"
                src="https://media.giphy.com/avatars/nasa/qdYbkaOy9oHJ/80h.jpg"
                alt=""
              />
              <div class="font-bold text-base">Elon Mars</div>
              <div class="font-normal text-sm">@Elon Mars</div>
            </a>
            <p class="mt-2">
              <strong>Perseverance Rover's Descent on Mars</strong><br />
            </p>
          </div>
        </div>

        <div>
          <div class="w-full">
            <div class="w-full relative h-96">
              <iframe
                class="absolute left-0 top-0"
                width="100%"
                height="100%"
                allowfullscreen=""
                frameBorder="0"
                src="https://giphy.com/embed/sNVbt56NUJNZfxdWE8/video"
              ></iframe>
            </div>
            <a
              rel="noopener noreferrer"
              class="relative inline-block clear-both h-9 leading-5 my-3 pl-11"
              target="_blank"
              ><img
                class="absolute left-0 top-0 h-9 w-9"
                alt=""
                src="https://media.giphy.com/avatars/nasa/qdYbkaOy9oHJ/80h.jpg"
              />
              <div class="font-bold text-base">Elon Mars</div>
              <div class="font-normal text-sm">@Elon Mars</div>
            </a>
            <p class="mt-2">
              <strong>Perseverance Rover's Touchdown Mars</strong><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
