@use "@angular/material" as mat;
$elon-mars-primary: mat.define-palette(mat.$amber-palette);
$elon-mars-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$elon-mars-warn: mat.define-palette(mat.$red-palette);
// $elon-mars-theme: mat.define-palette(mat.$red-palette);
$elon-mars-theme: mat.define-light-theme(
  (
    color: (
      primary: $elon-mars-primary,
      accent: $elon-mars-accent,
      warn: $elon-mars-warn,
    ),
  )
);

@include mat.all-component-themes($elon-mars-theme);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  @apply h-full;
}

body {
  @apply m-0;
  @apply bg-slate-900;
  @apply text-slate-50;
}

img {
  @apply rounded-lg;
}

@layer components {
  .btn {
    @apply rounded py-2 px-4 border font-bold;
  }

  .btn-dark {
    @apply bg-transparent text-white hover:text-black hover:bg-white border-white;
  }

  .min-h-screen-minus-t {
    min-height: calc(100vh - 4rem);
  }

  .wallpaper {
    @apply bg-no-repeat bg-cover bg-left bg-fixed;
  }

  .flex-st {
    @apply flex justify-start items-start;
  }

  .flex-sc {
    @apply flex justify-start items-center;
  }

  .flex-se {
    @apply flex justify-start items-end;
  }

  .flex-ct {
    @apply flex justify-center items-start;
  }

  .flex-cc {
    @apply flex justify-center items-center;
  }

  .flex-ce {
    @apply flex justify-center items-end;
  }

  .flex-et {
    @apply flex justify-end items-start;
  }

  .flex-ec {
    @apply flex justify-end items-center;
  }

  .flex-ee {
    @apply flex justify-end items-end;
  }

  .flex-col-st {
    @apply flex flex-col justify-start items-start;
  }

  .flex-col-sc {
    @apply flex flex-col justify-start items-center;
  }

  .flex-col-se {
    @apply flex flex-col justify-start items-end;
  }

  .flex-col-ct {
    @apply flex flex-col justify-center items-start;
  }

  .flex-col-cc {
    @apply flex flex-col justify-center items-center;
  }

  .flex-col-ce {
    @apply flex flex-col justify-center items-end;
  }

  .flex-col-et {
    @apply flex flex-col justify-end items-start;
  }

  .flex-col-ec {
    @apply flex flex-col justify-end items-center;
  }

  .flex-col-ee {
    @apply flex flex-col justify-end items-end;
  }
}

.cdk-visually-hidden {
  display: none;
  visibility: hidden;
}
